.flex{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}
.left{
    float:left;
    width: 30%;
    margin-top: 130px;
}
.right{
    float:left;
    width: 70%;
}
.h2{
    font-size: 18px;
    margin-top: 40px;
    width: 400px;
}
hr{
    width: 100px;
    height: 3px;
    background-color:coral;
    float:left;
    clear: both;
}