
.header{
    width: 100%;
    height: 80px;
}
.sliderrrr{
    width: 100%;
    height: 20px;
}
.header h4{
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #f26522;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-left: 12px;
    margin-top: 15px;
    float: left;
}
.header  span{
    height: 18px;
    width: 18px;
    border: 1px solid #e2e2e2;
    display: inline-block;
    line-height: 12px;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    text-align: center;
}
.prev{
    padding: 0;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 15px;
    cursor: pointer;
}
.next{
    cursor: pointer;
    padding: 0;
}
.container1{
    width: 85%;
height: auto;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.first{
        width: 100%;
    position: relative;
}
.first img{
    width: 100%;
}
.first_info{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0px 14px 20px;
    background: rgba(0,0,0,0.3);
}
.first_info a{
    display: block;
    z-index: 10000;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    margin-top: 10px;
}
.first_info a:hover{
    color: #F26522;
    transition-duration: 1s;
}
.first_little_info{
    display: inline-block;
    padding: 0px 21px 0px 11px;
    border-radius: 3px;
    height: 24px;
    line-height: 24px;
    background: #e84a4a;
}
.first_icon{
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0;
    float: left;
    text-align: center;
}

.first, .second_1, .second_2, .second_3{
    border: 10px solid #F0F2F5;
}
.first img{
    width: 100%;
    height: 100%;
}
.second{
    width: 100%;
    /*height: 120vh;*/
}
.second_two{
    width: 100%;
    height: auto;
    float: left;
}
.second_1{
        position: relative;
    width: 100%;
    margin-bottom: 10px;

}
.second_1 img{
    width: 100%;
}


.second_2{
    position: relative;
    width: 100%;

}
.second_2 img{
    width: 100%;
}
.second_3{

    position: relative;
    width: 100%;

}
.second_3 img{
    width: 100%;
}