.containerr{
    width: 85%;
    height: auto;
    margin: 0 auto;
}
.nameDiv{
    height: 45px;
    width: 100%;
    background-color: #F4F4F4;
    padding-left: 10px;
    margin-bottom: 20px;
    line-height: 45px;
    margin-top: 20px;

}
.nameDiv h4{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    display: inline-block;
    line-height: 20px;
    position: relative;
    letter-spacing: 0.04em;
    margin-left: 20px;
}
.nameDiv h4 p hr{
    content: '';
    position: absolute;
    margin-left: 1px;
    bottom: 1px;
    height: 3px;
    width: 100%;
    background: #f26522;
}
.coverages-item{
    background-color: #f5f5f5;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0,0.3);

}
.coverages-item_text{
    padding: 30px 10px 29px 24px;
}
.about_bloger{
    overflow: hidden;
    margin-bottom: 24px;
}
.bloger_img{
    width: 60px;
    border-radius: 100%;
    padding: 30px;
}
 .about_bloger .bloger_info #marina{
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    letter-spacing: 0.01em;
    display: inline-block;
    line-height: 19px;
}

