.contact_info{
    margin: 0 auto;
    display: block;
    width: 85%;
}
.col_color{
    background-color: #61dafb;
}
.site-card-wrapper{
    padding-top: 20px;
    background-color: #ffffff;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.site_row{
    display: flex;
    justify-content: center;
}
.site_card{
    padding-top: 70px;
    overflow: hidden;
    min-height: 555px;
    box-shadow: 1px 1px 4px -2px rgb(0 0 0 );
}
.site_card h4{
    font-size: 20px;
    font-weight: 400;
    color: #111111;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
    margin-bottom: 40px;

}

.site_card ul .ul_div1 , .site_card ul .ul_div2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.site_card ul{
    overflow: hidden;
    position: relative;
    max-width: 500px;
    margin: auto;
}
.site_card ul li{
    text-align: center;
    list-style-type: none;
    margin-bottom: 29px;
}
.site_card ul:before{
    content: '';
    position: absolute;
    left: 0%;
    top: 50%;
    border-top: 1px dotted #cccccc;
    width: 100%;
}
.site_card ul::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    border-left: 1px dotted #cccccc;
    height: 100%;
}
.site_card  ul li h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 17px;
    margin-bottom: 11px;
    margin-top: 15px;
}
.site_card ul li p{

    font-size: 12px;
    font-weight: 400;
    color: #888888;
    line-height: 22px;

}
.cw-form{

    width: 500px;
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 9px;
    overflow: hidden;

}

.input {
    width: 50%;
    height: 60px;
    border: none;
    border-bottom: 1px solid #dddddd;
    float: left;
    overflow: hidden;
    position: relative;
}

.input label, .text-area label {
    font-size: 11px;
    font-weight: 300;
    color: #989898;
    line-height: 19px;
    position: absolute;
    top: 8px;
    left: 25px;
}
.input input {
    width: 100%;
    padding-left: 25px;
    font-size: 12px;
    font-weight: 300;
    color: #111111;
    border: none;
    height: 100%;
    padding-top: 17px;
}
.last-name {
    border-left: 1px solid #dddddd;
}
.text-area {
    overflow: hidden;
    height: 181px;
    width: 100%;
    position: relative;
}
.text-area label {
    top: 21px;
}
.text-area textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border: none;
    padding: 36px 0px 0px 25px;
    font-size: 12px;
    font-weight: 300;
    color: #111111;
}
.send-btn input {
    width: 100%;
    height: 60px;
    background: #f26522;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    line-height: 60px;
    transition: all 0.3s ease 0s;
}