*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.FAQ-QuestionOne{
    color: rgb(87, 85, 85);
}


.FAQ-QuestionTwo{
    color:  rgb(87, 85, 85);
}

.FAQ-QuestionThree{
    color: rgb(87, 85, 85);
    margin-top: 5;
} 

.FAQ-QuestionFour{
    color:rgb(87, 85, 85); 
    font-size: 15px;
}


.hTags{
    color: rgb(87, 85, 85); ;
}



.IconBar{
     width: 95%;
     height: 164px;
     /* background-color: blue; */
     
}
.IconBar:hover{
    background-color: rgb(18, 18, 145);
    width: 100%;
    
}

.Icons{
    position: relative;
    left: 10%;
}

.PriceBar{
    color: white;
    font-size: 17px;
    text-align: center;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
    text-align: center;
}


.TextBar{
    color: white;
    font-size: 17px;
    text-align: center;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
    text-align: center;
}

.IconsBar{
       color: white;
       position: absolute;
       left: 28%;
       top: 0%;
       width: 30px;
       font-size: 50px;
       height: 30px;
       text-align: center;

}

.MostPopular{
    border: 1px solid grey;
    width: 100%;
    
}





/* yon tomondagi Text rasm yonidagi */

.TextInDiv{
    font-size: 18px;
    color: black;

}

.LinkText{
    color: black;

}

.LinkText::before{
    content: '';
    position: absolute;
    height: 17px;
    width: 3px;
    background: #db2e1c;
    left: -9px;
    top: 7px;
}

.LinkText:hover {
    color: orange;
}


.LineOnBorder{
    width: 40%;
    border:1px solid black;
}
    

.TextOnImage{
    position:  absolute;
    top: 65%;
    left: 9%;
    font-size: 20px;
    color: white;
}

.TextOnImage::before{
    content: '';
    position: absolute;
    height: 17px;
    width: 3px;
    background: #db2e1c;
    left: -9px;
    top: 9px;
}

.DateText{
    position: absolute;
    top: 83%;
    left: 9%;
    color: grey;
}
    

.ShadowOpacityIMG{
    position: absolute;
    width: 338px;
    background-color: black;
    height: 60px;
    top: 75%;
    opacity: 0.6;
    box-shadow: 0 -5px 5px black;




}



/* _____________________ */

.CarouselWrapper{
    width: 100%;
    border: 1px solid grey;
    height: 1200px;
    
}

.CarouselImg{
        position: relative;
        right: 4px;

}

.ShadowOpacityIMG1{
    position: absolute;
    width: 346px;
    background-color: rgb(14, 12, 12);
    height: 10px;
    top: 100%;
    left: -4px;
    opacity: 0.9;
    box-shadow: 0 -1px 10px  rgb(12, 9, 9);




}
.ShadowOpacityIMG2{
    position: absolute;
    width: 344px;
    background-color: rgb(14, 12, 12);
    height: 60px;
    top: 80%;
    left: -4px;
    opacity: 0.5;
    box-shadow: 0 -6px 10px  rgb(12, 9, 9);
}

/* ________________________________________________________ */

.socialDivInImg{
    /* background-color: #F4B711; */
    /* width: 18%; */
    position: absolute;
    top: 4%;
    left: 3%;
    
}

.aHrefInDivImg{
    color: white;
    margin:0 auto;
    font-size: 13px;
    padding: 7px;
    

    
}


.textCarouselImg  {
    position: absolute;
    top: 80%;
    
    
}

.aHrefCarouselImg{
    color: white;
    font-size: 20px;
    position: relative;
    left: 12px;
    z-index: 5555;


}



.aHrefCarouselImg::before{
    content: '';
    position: absolute;
    height: 17px;
    width: 3px;
    background: #db2e1c;
    left: -9px;
    top: 9px;
}



.black-text{
    color: black !important;  
}


