.container{
    width: 85%;
    margin: 0 auto;
}
.fotermenu{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2000;
}
.foter{
    background-color: #222626;
    width: 100%;
    height: 70px;
    overflow: hidden;
    z-index: 1000;
}
.menu ul{
    list-style-type: none;
    margin-left: -75px;
}
ul li{
    display: inline-block;
}
ul li a,.menu1 a,.sports a,.sidebarmenu a{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 0px;
    margin-right: 22px;
    display: block;
    background-color:transparent;
    -webkit-transition: all 0.3s ease-in-out;
    letter-spacing: 1.5px;
}
ul li a:hover{
    color: #F26522;
}
.item1{
    color:#F26522;
}
.menu1{
    position: absolute;
    top: 70px;
    left: 150px;
    background-color: rgba(13,15,15,0.9);
    width: 1160px;
    height: 250px;
    border-top:2px;
    border-top: solid 2px black;
}
.menu1 a{
    padding: 8px 0px;
    display: block;
    margin-left: 15px;
    margin-right: 0;
}
.menu1 a:hover,.sports a:hover{
    color:#F26522;
}
.remov{
    display: none;
}
.sidebarmenu a{
    color:#3D4652;
    padding:18px 0px;
    margin-left:30px;
}
.item{
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
}
.item:hover{
    background-color: rgba(180,180,180,0.2);
}
.item a:hover{
    color:#F26522;
}
.itemm a:hover{
    color:#F26522;
}
.close{
    display: none;
}
@media only screen and (max-width: 992px) {
    .menu{
        display: none;
    }
    .fotermenu{
        position: relative;
    }
    .close{
        display: block;
    }
}
@media only screen and (min-width: 992px) {
.sidebarmenu{
    display: none;
}
    .pages{
        display: none;
    }
}
.icons{
    position: absolute;
    top:10px;
    right: 30px;
    z-index: 3001;
    cursor: pointer;
}
.sidebarmenu{
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 0s;
}
@keyframes example {
    0%   { left:-300px; top:0px;}
    100%  { left:0px; top:0px;}
}
.menuicon{
    margin-top: 6px;
    left: 20px;
}
.search{
    background-color: #404545;
    position: absolute;
    top: 71px;
    left: 1100px;
    outline: none;
    width: 200px;
    height: 40px;
    z-index: 4;
    color: white;
    text-align: center;
}
.pages a{
    color: #3D4652;
    padding: 10px 0px;
    margin-left: 70px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin-right: 46px;
    background-color:transparent;
    -webkit-transition: all 0.3s ease-in-out;
    letter-spacing: 1.5px;
}
.pages{
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 0s;
    margin-bottom: 10px;
}
.itemm{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
}
.itemm:hover{
    background-color: rgba(180,180,180,0.2);
}
.sports a{
    padding: 10px 0px;
    margin-left: 20px;
    margin-top: 5px;
}
.ijtimoiy-tarmoqlar a{
    color: #5F6565;
    width: 550px;
    box-sizing: border-box;
}
.weater-top{
    height: auto;
}
